@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #333;
    font-size: 24px;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    padding: 20px;
}

.content-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-img img {
    width: 539px;
    height: 447px;
}

.content-info h1 {
    color: #333333;
    font-size: 64px;
    font-family: 'Space Mono', monospace;
}

.content-info p {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Space Mono", monospace;
}

button {
    all: unset;
    margin-top: 30px;
    background-color: #333333;
    font-family: "Space Mono", monospace;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 23px 43px;
    cursor: pointer;
}

footer {
    margin-top: 310px;
    padding: 20px;
}

footer p {
    color: #BDBDBD;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 768px){
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .content-img img {
        width: 286px;
        height: 238px;
    }

    .content-info h1 {
        margin-top: 50px;
        font-size: 35px;
    }
}

